*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html,body{
    height: 100%;
    width: 100%;
    background: #ffffff;
    min-width: 365px;
}
/* className='xl:max-w-[1530px] w-full flex flex-col items-center justify-center' */
li{
    list-style: none;
    text-decoration: none;
}
.slick-dots{
    position:absolute;
}
button{
    cursor: pointer;
}
/* input{
    cursor:pointer;
} */