*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
}
li{
    list-style: none;
    text-decoration: none;
}
.slick-dots{
    position:absolute;
}
button{
    cursor: pointer;
}
/* input{
    cursor:pointer;
} */