*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html,body{
    height: 100%;
    width: 100%;
    background: #ffffff;
    min-width: 365px;
}
/* className='xl:max-w-[1530px] w-full flex flex-col items-center justify-center' */
li{
    list-style: none;
    text-decoration: none;
}
.slick-dots{
    position:absolute;
}
button{
    cursor: pointer;
}
/* input{
    cursor:pointer;
} */

.custom-select .MuiSelect-select {
    color: black !important; /* Ensures the text color is black */
  }
  
  .custom-select .MuiMenuItem-root {
    color: black !important; /* Ensures the dropdown items are black */
  }

  /* .MuiBackdrop-root MuiBackdrop-invisible MuiModal-backdrop css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop{
    display: none;
  } */